{
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "standard",
    "standard-react"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "17"
    }
  },
  "rules": {
    // Indent with 4 spaces
    "indent": ["error", 4],

    // Indent JSX with 4 spaces
    "react/jsx-indent": ["error", 4],

    // Indent props with 4 spaces
    "react/jsx-indent-props": ["error", 4],

    "semi": ["error", "always"],
    "space-before-function-paren": [2, "never"],

    "react/jsx-curly-spacing": ["error", {
      "attributes": { "when": "never" },
      "children": { "when": "always" },
      "allowMultiline": true
    }],

    // suppress errors for missing 'import React' in files
    "react/react-in-jsx-scope": "off",
    }
}
